
<div class="container">
    <a [routerLink]="['edit/0']"><button type="button" class="btn btn-primary">Add Transaction</button></a>
<div class="card mt-4">
    
    <div class="card-body">
        <!-- <div class="alert alert-success" role="alert">Transaction added!</div>
        <div class="alert alert-primary" role="alert">Transaction updated!</div>
        <div class="alert alert-danger" role="alert">Transaction deleted!</div> -->
    
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Id</th>
                    <th scope="col">Type</th>
                    <th scope="col">Security</th>
                    <th scope="col" class="text-right">Shares</th>
                    <th scope="col" class="text-right">Value</th>
                    <th scope="col" class="text-right">Cashflow</th>
                    <th scope="col" class="text-right">&nbsp;</th>
                    <th scope="col" class="text-right">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tran of transactions|async;let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{tran.date| date:'medium'}}</td>
                    <td>{{tran.id}}</td>
                    <td>{{tran.type}}</td>
                    <td><span class="text-muted">{{tran.security}}</span></td>
                    <td class="text-right"><span class="text-muted">{{tran.shares}}</span></td>
                    <td class="text-right">&pound;{{tran.value}}</td>
                    <td class="text-right" [ngClass]="tran.cashflow > 0 ? 'text-success' : 'text-danger'">&pound;{{tran.cashflow}}</td>
                    <td class="text-right"> <button type="button" class="btn btn-warning" (click)="editTransaction(tran.id)">Edit</button></td>
                    <td class="text-right"><button type="button" class="btn btn-danger" (click)="onDeleteTransaction(tran.id)">Delete</button></td>
                </tr>
                
               
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">Cumulative cashflow</td>
                    <td class="text-right">&pound;{{total}}</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
    </div>
    </div>