<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
          Portfolio
        </div>
        <div class="card-body">
          <h5 class="card-title">Transactions Details</h5>
          <p class="card-text">Stockopedia front-end developer coding challenge.</p>
          <a routerLink='/transactions' class="btn btn-primary">Transactions Page</a>
        </div>
        <div class="card-footer text-muted">
         
        </div>
      </div>

    
</div>